
.playerListItem {
    height:40px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid rgba(165, 165, 165, 0.7);
}

.playerListItem:hover {
    background-color: rgba(200, 200, 200, 0.8);
}

.playerListItem .rank {
    margin-left:5px;
}

.playerListItem .name {
    margin-right:5px;
}

.playerListItem .rank h2 {
    color: rgba(57,57,57,0.9);
}

.playerListItem h2 {
    margin-top:6px;
}

.playerListItem .name h2 {
    color: rgba(57,57,57,0.9);
}

.playerListItem .icons {
    margin-left:auto;
    margin-right:5px;
}

.playerListItem .icons i {
    font-size:25px;
}