

.ladderContent {
    height: 100%;
}

.playerPanes {
    display:flex;
    flex-direction: column;
}

.historyHeader {
    height: 40px;
    line-height:40px;
    border-bottom: 1px solid rgba(165, 165, 165, 0.7);
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.historyHeader > span {
    display: inline-block;
  vertical-align: middle;
  line-height: normal;
}