.matchRow {
    font-size: 18px;
    width:100%;
    position: relative;
    border-bottom: 1px solid rgba(175, 175, 175, 0.5);
    height: 33px;
    line-height:32px;
}

.matchRow .myScore {
    margin-left:15px;
    margin-right: 5px;
}

.matchRow .otherScore {
    margin-left: 5px;
    margin-right: 15px;
}

.matchRow .otherName {
    margin-right: 15px;
    right: 0;
    position: absolute;
}

.historyPane {
    height: 50%;
    overflow:auto;
}